<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Evento</div>
			<div class="panel-body">
				<input type="hidden" id="id_evento" name="id_evento" value="<%=(item ? item.id_evento : 0) %>" />
				<div class="form-group">
					<label for="nome_evento">Nome</label>
					<input id="nome_evento" name="nome_evento" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_evento : '') %>" />
				</div>
				
				<div class="form-group">
					<label for="desc_evento">Link / URL</label>
					<input id="desc_evento" name="desc_evento" maxlength="100" class="form-control" type="url" spellcheck="false" value="<%=(item ? item.desc_evento : '') %>" />
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="inicio_evento">Início</label>
							<input type="date" id="inicio_evento" name="inicio_evento" class="form-control" spellcheck="false" value="<%=(item ? item.inicio_evento : '') %>" required>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="termino_evento">Término</label>
							<input type="date" id="termino_evento" name="termino_evento" class="form-control" spellcheck="false" value="<%=(item ? item.termino_evento : '') %>" required>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="id_sala">Sala</label>
							<select size="1" id="id_sala" name="id_sala" class="form-control">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < salas.length; i++) { %>
									<option value="<%=salas[i].id_sala %>" <%=((item && item.id_sala == salas[i].id_sala) ? 'selected="selected"' : '')%>><%=salas[i].desc_sala %></option>
								<% } %>
							</select>
							<script type="text/javascript">
								//<![CDATA[
								"use strict";
								prepareCbSearch(document.getElementById("id_sala"));
								//]]>
							</script>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="id_departamento">Departamento</label>
							<select size="1" id="id_departamento" name="id_departamento" class="form-control">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < departamentos.length; i++) { %>
									<option value="<%=departamentos[i].id_departamento %>" <%=((item && item.id_departamento == departamentos[i].id_departamento) ? 'selected="selected"' : '')%>><%=departamentos[i].desc_departamento %></option>
								<% } %>
							</select>
							<script type="text/javascript">
								//<![CDATA[
								"use strict";
								prepareCbSearch(document.getElementById("id_departamento"));
								//]]>
							</script>
						</div>
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-xs-6">
						<label style="height: 34px; line-height: 34px;">Ocorrências</label>
					</div>
					<div class="col-xs-6 text-right mb-3">
						<button class="btn btn-primary" type="button" onclick="adicionarOcorrencia()"><i class="fa fa-plus"></i>Criar Ocorrência</button>
					</div>
				</div>

				<table class="table table-striped table-hover mb-0">
					<tbody id="bodyOcorrencias">
						<% if (item && item.ocorrencias && item.ocorrencias.length) { for (let i = 0; i < item.ocorrencias.length; i++) { %>
							<tr>
								<td class="col-min">
									<button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerOcorrencia(this)"><i class="fa fa-nomargin fa-times"></i></button>
								</td>
								<td>
									<input class="form-control" type="datetime-local" name="ocorrencias" value="<%- item.ocorrencias[i] %>" />
								</td>
							</tr>
						<% } } else { %>
							<tr><td class="text-center">Não há ocorrências cadastradas</td></tr>
						<% } %>
					</tbody>
				</table>

			</div>

			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Evento') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>

		
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.fa-plus:before {
		color: inherit;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	function adicionarOcorrencia() {
		var bodyOcorrencias = document.getElementById("bodyOcorrencias");
		if (!bodyOcorrencias.getElementsByTagName("input").length) {
			$("#bodyOcorrencias").empty();
		}
		$("#bodyOcorrencias").append('<tr><td class="col-min"><button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerOcorrencia(this)"><i class="fa fa-nomargin fa-times"></i></button></td><td><input name="ocorrencias" class="form-control" type="datetime-local" /></td></tr>');
	}

	function removerOcorrencia(button) {
		var bodyOcorrencias = document.getElementById("bodyOcorrencias");
		bodyOcorrencias.removeChild(button.parentNode.parentNode);
		if (!bodyOcorrencias.getElementsByTagName("tr").length) {
			bodyOcorrencias.innerHTML = '<tr><td class="text-center">Não há ocorrências cadastradas</td></tr>';
		}
	}

	$("#form").validate({
		rules: {
			nome_evento: {
				required: true,
				minlength: 3,
			},
			desc_evento: {
				url: true,
				minlength: 3,
			},
			id_sala:{
				required:true
			},
			id_departamento:{
				required:true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/evento/alterar", form, function (response) {
				if (response.success){
					Notification.success("Evento alterado com sucesso! " + emoji.happy);
				}
				else
				Notification.error(response.value + " " + emoji.sad, true);
			});

			//<% } else { %>
		
			JsonWebApi.postFormData("<%- root %>/api/evento/criar", form, function (response) {
				if (response.success) {
					document.getElementById("bodyOcorrencias").innerHTML = '<tr><td class="text-center">Não há ocorrências cadastradas</td></tr>';
					resetForm("#form");
					Notification.success("Evento criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value + " " + emoji.sad, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
