<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body no-bottom">
				<h2 class="no-margin-top col-xs-space-bottom text-center"><i class="fa fa-filter"></i>Filtro</h2>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="departamento">Departamento</label>
							<select size="1" id="departamento" class="form-control" onchange="atualizar()">
								<option value="0">Todos</option>
								<% for (let i = 0; i < departamentos.length; i++) { %>
									<option value="<%- departamentos[i].id_departamento %>"><%= departamentos[i].desc_departamento %></option>
								<% } %>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="sala">Sala</label>
							<select size="1" id="sala" class="form-control" onchange="atualizar()">
								<option value="0">Todas</option>
								<% for (let i = 0; i < salas.length; i++) { %>
									<option value="<%- salas[i].id_sala %>"><%= salas[i].desc_sala %></option>
								<% } %>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<label for="ano">Ano</label>
							<input id="ano" type="number" class="form-control" onchange="atualizar()" value="<%- anoAtual %>" />
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="mes">Mês</label>
							<select size="1" id="mes" class="form-control" onchange="atualizar()">
								<option value="1" <%- (mesAtual === 1 ? 'selected="selected"' : '') %>>Janeiro</option>
								<option value="2" <%- (mesAtual === 2 ? 'selected="selected"' : '') %>>Fevereiro</option>
								<option value="3" <%- (mesAtual === 3 ? 'selected="selected"' : '') %>>Março</option>
								<option value="4" <%- (mesAtual === 4 ? 'selected="selected"' : '') %>>Abril</option>
								<option value="5" <%- (mesAtual === 5 ? 'selected="selected"' : '') %>>Maio</option>
								<option value="6" <%- (mesAtual === 6 ? 'selected="selected"' : '') %>>Junho</option>
								<option value="7" <%- (mesAtual === 7 ? 'selected="selected"' : '') %>>Julho</option>
								<option value="8" <%- (mesAtual === 8 ? 'selected="selected"' : '') %>>Agosto</option>
								<option value="9" <%- (mesAtual === 9 ? 'selected="selected"' : '') %>>Setembro</option>
								<option value="10" <%- (mesAtual === 10 ? 'selected="selected"' : '') %>>Outubro</option>
								<option value="11" <%- (mesAtual === 11 ? 'selected="selected"' : '') %>>Novembro</option>
								<option value="12" <%- (mesAtual === 12 ? 'selected="selected"' : '') %>>Dezembro</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h2 class="no-margin-top col-xs-space-bottom"><i class="fa fa-calendar"></i>Resumo do Mês</h2>
				<div id="calendarioPlaceholder"></div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("page-header") %>
<button id="btnInstalar" type="button" class="btn btn-sm btn-outline btn-default" onclick="instalar()" style="float: right; display: none;"><i class="fa fa14 fa-fw fa-download"></i> Instalar app</button>

<%- contentFor("scripts") %>
<script type="text/javascript">
	var installationPrompt = null;

	function instalar() {
		document.getElementById("btnInstalar").style.display = "none";

		if (installationPrompt) {
			try {
				var p = installationPrompt;
				installationPrompt = null;
				p["prompt"]();
			} catch (ex) {
				// Apenas ignora...
			}
		}
	}

	function beforeInstallPrompt(e) {
		if (("preventDefault" in e))
			e.preventDefault();

		installationPrompt = e;

		document.getElementById("btnInstalar").style.display = (e ? "" : "none");
	}

	if ("serviceWorker" in navigator) {
		window.addEventListener("beforeinstallprompt", beforeInstallPrompt);

		navigator.serviceWorker.register("<%- root %>/sw");
	}
</script>

<script type="text/javascript">
	"use strict";

	prepareCbSearch(document.getElementById("departamento"));
	prepareCbSearch(document.getElementById("sala"));
	prepareCbSearch(document.getElementById("mes"));

	var departamentoAtual = 0, salaAtual = 0, mesAtual = <%- mesAtual %>, anoAtual = <%- anoAtual %>;

	// var url = location.href, i = url.lastIndexOf("/"), aLink = document.getElementById("aLink");
	// url += ((i !== (url.length - 1)) ? "/hoje" : "hoje");
	// document.getElementById("btnLink").setAttribute("data-clipboard-text", url);
	// aLink.setAttribute("href", url);
	// aLink.textContent = url.substr(url.indexOf("://") + 3);
	// prepareCopyHandler();

	var ocorrencias = <%- JSON.stringify(lista) %>, calendario = null;

	function desenharCalendario() {
		converterEventos(ocorrencias);

		$("#calendarioPlaceholder").html('<div id="calendario"></div>');

		var opcoesCalendario = {
			headerToolbar: {
				left: "",
				center: "title",
				right: ""
			},
			initialDate: ((anoAtual == "<%- anoAtual %>" && mesAtual == "<%- mesAtual %>") ? "<%- hoje %>" : (anoAtual + "-" + format2(mesAtual) + "-01")),
			initialView: "dayGridMonth",
			locale: "pt-br",
			buttonIcons: false,
			weekNumbers: false,
			navLinks: false,
			editable: false,
			dayMaxEvents: true,
			events: ocorrencias,
			eventClick: function(info) {
				info.jsEvent.preventDefault();
				Notification.info(info.event.url, info.event.title);
			}
		};

		calendario = new FullCalendar.Calendar(document.getElementById("calendario"), opcoesCalendario);

		calendario.render();
	}

	function atualizar() {
		var departamento = parseInt($("#departamento").val());
		var sala = parseInt($("#sala").val());
		var ano = (parseInt($("#ano").val()) || 0);
		var mes = (parseInt($("#mes").val()) || 0);

		if ((departamentoAtual === departamento && salaAtual === sala && ano === anoAtual && mes === mesAtual) || JsonWebApi.active)
			return;

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/evento/listarOcorrencias", function (response) {
			if (response.success) {
				Notification.hide();
				departamentoAtual = departamento;
				salaAtual = sala;
				anoAtual = ano;
				mesAtual = mes;
				ocorrencias = response.value;
				
				desenharCalendario();
			} else {
				Notification.error(response.value, true);
			}
		}, "id_departamento", departamento, "id_sala", sala, "ano", ano, "mes", mes);
	}

	desenharCalendario();

</script>
