<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Filtro de Days Off</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group mb-0">
							<label for="ano">Ano</label>
							<input type="number" id="ano" name="ano" class="form-control" value="<%- anoAtual %>" onchange="atualizarDaysOff()" />
						</div>
					</div>

					<div class="col-xs-6">
						<div class="form-group mb-0">
							<label for="ciclo">Ciclo</label>
							<select size="1" id="ciclo" name="ciclo" class="form-control" onchange="atualizarDaysOff()">
								<option value="1" <%- ((cicloAtual === 1) ? 'selected="selected"' : '') %>>1</option>
								<option value="2" <%- ((cicloAtual === 2) ? 'selected="selected"' : '') %>>2</option>
							</select>
						</div>
					</div>
				</div>

				<hr />

				<div class="text-right mb-3">
					<button class="btn btn-primary" type="button" onclick="adicionarDayOff()"><i class="fa fa-plus"></i>Adicionar Day Off</button>
				</div>

				<table class="table table-striped table-hover mb-0">
					<tbody id="bodyDaysOff">
						<% if (daysOff && daysOff.length) { for (let i = 0; i < daysOff.length; i++) { %>
							<tr>
								<td class="col-min">
									<button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerDayOff(this)"><i class="fa fa-nomargin fa-times"></i></button>
								</td>
								<td>
									<input class="form-control" type="date" name="daysOff" value="<%- daysOff[i].data %>" />
								</td>
							</tr>
						<% } } else { %>
							<tr><td class="text-center">Não há days off cadastrados para <%- anoAtual %>-<%- cicloAtual %></td></tr>
						<% } %>
					</tbody>
				</table>

			</div>

			<div class="panel-footer">
				<input value="Sincronizar Days Off" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>

		
	</div>
</div>

<%- contentFor("styles") %>
<style type="text/css">
	.fa-plus:before {
		color: inherit;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	function adicionarDayOff() {
		var bodyDaysOff = document.getElementById("bodyDaysOff");
		if (!bodyDaysOff.getElementsByTagName("input").length) {
			$("#bodyDaysOff").empty();
		}
		$("#bodyDaysOff").append('<tr><td class="col-min"><button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerDayOff(this)"><i class="fa fa-nomargin fa-times"></i></button></td><td><input name="daysOff" class="form-control" type="date" /></td></tr>');
	}

	function removerDayOff(button) {
		var bodyDaysOff = document.getElementById("bodyDaysOff");
		bodyDaysOff.removeChild(button.parentNode.parentNode);
		if (!bodyDaysOff.getElementsByTagName("tr").length) {
			bodyDaysOff.innerHTML = '<tr><td class="text-center">Não há days off cadastrados para ' + $("#ano").val() + '-' + $("#ciclo").val() + '</td></tr>';
		}
	}

	function atualizarDaysOff() {
		if (JsonWebApi.active)
			return;

		Notification.wait();

		JsonWebApi.get("<%- root %>/api/dayOff/listar", function (response) {
			var bodyDaysOff = document.getElementById("bodyDaysOff");
			$("#bodyDaysOff").empty();

			if (response.success) {
				Notification.hide();

				if (!response.value || !response.value.length) {
					bodyDaysOff.innerHTML = '<tr><td class="text-center">Não há days off cadastrados para ' + $("#ano").val() + '-' + $("#ciclo").val() + '</td></tr>';
				} else {
					for (var i = 0; i < response.value.length; i++) {
						$("#bodyDaysOff").append('<tr><td class="col-min"><button title="Excluir" class="btn btn-danger btn-outline" type="button" onclick="removerDayOff(this)"><i class="fa fa-nomargin fa-times"></i></button></td><td><input name="daysOff" class="form-control" type="date" value="' + response.value[i].data + '" /></td></tr>');
					}
				}
			} else {
				bodyDaysOff.innerHTML = '<tr><td class="text-center">Ocorreu um erro na atualização</td></tr>';
				Notification.error(response.value + " " + emoji.sad, true);
			}
		}, "ano", $("#ano").val(), "ciclo", $("#ciclo").val());
	}

	$("#form").validate({
		rules: {
			daysOff: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			JsonWebApi.postFormData("<%- root %>/api/dayOff/sincronizar?ano=" + encodeURIComponent($("#ano").val()) + "&ciclo=" + encodeURIComponent($("#ciclo").val()), form, function (response) {
				if (response.success)
					Notification.success("Days off sincronizados com sucesso! " + emoji.happy);
				else
					Notification.error(response.value + " " + emoji.sad, true);
			});
		}
	});
	//]]>
</script>
