
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Usuário</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="idusuario" name="idusuario" value="<%=(item ? item.idusuario : 0) %>" />
				<div class="form-group">
					<label for="login">Login</label>
					<input id="login" name="login" maxlength="100" class="form-control lower" type="email" spellcheck="false" value="<%=(item ? item.login : '') %>" <%=(item ? 'readonly="readonly"' : '') %> />
				</div>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="idperfil">Perfil</label>
					<select id="idperfil" name="idperfil" class="form-control" size="1">
						<option value="">Selecione...</option>
						<% for (let i = 0; i < perfis.length; i++) { %>
						<option value="<%= perfis[i].idperfil %>" <%-((item && item.idperfil === perfis[i].idperfil) ? 'selected="selected"' : '') %>><%= perfis[i].nome %></option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
                    <label for="id_departamento">Departamento</label>
                    <select id="id_departamento" name="id_departamento" class="form-control" size="1">
                        <option value="">Selecione...</option>
                        <% for (let i = 0; i < departamentos.length; i++) { %>
                        <option value="<%= departamentos[i].id_departamento %>" <%-((item && item.id_departamento === departamentos[i].id_departamento) ? 'selected="selected"' : '') %>><%= departamentos[i].desc_departamento %></option>
                        <% } %>
                    </select>
					<script type="text/javascript">
						//<![CDATA[
						"use strict";
						prepareCbSearch(document.getElementById("id_departamento"));
						//]]>
					</script>
                </div>
				<div class="form-group">
                    <label for="idcargo">Cargo</label>
                    <select id="idcargo" name="idcargo" class="form-control" size="1">
                        <option value="">Selecione...</option>
                        <% for (let i = 0; i < cargos.length; i++) { %>
                        <option value="<%= cargos[i].idcargo %>" <%-((item && item.idcargo === cargos[i].idcargo) ? 'selected="selected"' : '') %>><%= cargos[i].nome %></option>
                        <% } %>
                    </select>
					<script type="text/javascript">
						//<![CDATA[
						"use strict";
						prepareCbSearch(document.getElementById("idcargo"));
						//]]>
					</script>
                </div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idcurso">Curso</label>
							<select id="idcurso" name="idcurso" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < cursos.length; i++) { %>
								<option value="<%= cursos[i].idcurso %>" <%-((item && item.idcurso === cursos[i].idcurso) ? 'selected="selected"' : '') %>><%= cursos[i].nome %></option>
								<% } %>
							</select>
							<script type="text/javascript">
								//<![CDATA[
								"use strict";
								prepareCbSearch(document.getElementById("idcurso"));
								//]]>
							</script>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="semestre">Semestre</label>
							<input id="semestre" name="semestre" class="form-control" type="number" min="1" max="8" value="<%=(item ? item.semestre : '') %>" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="daysoff">Quantidade de days off</label>
							<input id="daysoff" name="daysoff" class="form-control" type="number" min="0" max="99" value="<%=(item ? item.daysoff : '') %>" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="nascimento">Data de Nascimento</label>
							<input id="nascimento" name="nascimento" class="form-control" type="date" spellcheck="false" value="<%=(item ? item.nascimento : '') %>" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="endereco">Endereço</label>
					<input id="endereco" name="endereco" class="form-control" maxlength="100" type="text" spellcheck="false" value="<%=(item ? item.endereco : '') %>" />
				</div>
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input id="telefone" name="telefone" class="form-control" maxlength="20" type="tel" spellcheck="false" value="<%=(item ? item.telefone : '') %>" />
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Usuário') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	maskMobilePhone("#telefone");

	$("#form").validate({
		rules: {
			login: {
				required: true,
				email: true,
				minlength: 3,
				maxlength: 100
			},
			nome: {
				required: true,
				minlength: 2,
				maxlength: 100
			},
			idperfil: {
				required: true
			},
			idcargo: {
				required: true
			},
			idcurso: {
				required: true
			},
			semestre: {
				required: true,
				number: true,
				min: 1,
				max: 8
			},
			daysoff: {
				required: true,
				number: true,
				min: 0,
				max: 99
			},
			endereco: {
				required: true,
				maxlength: 100
			},
			telefone: {
				required: true,
				maxlength: 20
			},
			nascimento: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/alterar", form, function (response) {
				if (response.success)
					Notification.success("Usuário alterado com sucesso! " + emoji.happy);
				else
				Notification.error(response.value + " " + emoji.sad, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Usuário criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value + " " + emoji.sad, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
